@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
body {
    background: hsl(3, 3%, 3%);
}
.box {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}
img {
width: 100%;
border: solid 5px white;
}